@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --primary-color: #34D399;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0px auto;
    max-width: 90%;
    width: 100%;
}

hr {
    margin: 2rem 0rem;
}

/* containers */

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* links */
.link {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0.3rem 0rem;
}

.primary-link {
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}

.secondary-link {
    display: inline-block;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

/* lists */

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}
.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}
.blog-list {
    padding: 2rem;
    text-align: center;
    margin: 1rem auto;
}

/* spacing */

.spacing-medium {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

/* navigation */

.navigation {
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

/* header */

.hero {
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
}

.hero .hero-img {
    max-width: 80%;
    width: 600px;
    display: block;
    margin: auto;
}

.hero .sec-img {
    max-width: 100%;
    height: 319px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    padding: 1rem;
    color: var(--dark-gray);
}

/* section */

.section {
    font-size: 1.2rem;
    padding: 2rem;
    margin: 1rem 0;
    border-radius: 1rem;
    text-align: center;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--off-white);
}

/* footer */

.footer {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 1rem;
    margin-top: 2rem;
    border-top-right-radius: 1rem;
    text-align: center;
}

.footer-heading {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}

.footer .link {
    color: white;
}
